docwatch
push
TODO
.idea/
*/output/
*/build/
*/data/
output/
data/
slurm/
.cache/
scripts/
*/__pycache__/
*.pyc
*.ipynb_checkpoints
*.log
*.txt
*.gz
*.egg-info
*.so
*.swp
*.out
*.err
*.pth
*/local/
*/_cache/
